
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about">
    <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-center mh-100">
            <div class="w-100" style="">
                <form action="/QuenMatKhau" method="post" onsubmit="return validateReForm()" class="text-center form-dangky shadow-lg p-2 p-sm-4 rounded-1">
                    <div class="border-dangky">
                        <div class="pb-3">
                            <h2 class="text-center text-uppercase d-block pt-5 pb-2 fw-bold" style="color: #726550">
                                Đổi mật khẩu mới
                            </h2>
                            <img class="img-fluid" src="~/Content/assets/img/AuthDevider.png" />
                        </div>
                        <div class="modal-body">
                            <input required type="password" class="form-control login-input rounded-pill p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Mật khẩu cũ" name="matkhaucu" id="matkhaucu">
                            <div class="text-danger fw-bold fs-6" id="loi_matkhaucu">

                            </div>
                            <input required type="password" class="form-control login-input rounded-pill mt-3 p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Mật khẩu mới" name="matkhau" id="matkhau">
                            <div class="text-danger fw-bold fs-6" id="loi_matkhau">

                            </div>
                            <input required type="password" class="form-control login-input rounded-pill mt-3 p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Nhập lại mật khẩu mới" name="nhaplai" id="nhaplai">
                            <div class="text-danger fw-bold fs-6" id="loi_nhaplai">

                            </div>
                        </div>
                        <div class="modal-footer p-0 justify-content-center">
                            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-danger rounded-pill" id="luu_mat_khau">Lưu lại</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>
<script>
    $("#luu_mat_khau").click(function () {
    console.log($("#matkhaucu").val());
    $("#loi_matkhaucu").text("");
    $("#loi_matkhau").text("");
    $("#loi_nhaplai").text("");
    if ($("#matkhaucu").val() == "") {
        $("#loi_matkhaucu").text("Bạn chưa nhập mật khẩu cũ!");
    }
    else if ($("#matkhau").val() == "") {
        $("#loi_matkhau").text("Bạn chưa nhập mật khẩu mới!");
    }
    else if ($("#nhaplai").val() == "") {
        $("#loi_nhaplai").text("Bạn chưa nhập lại mật khẩu!");
    }
    else if ($("#matkhau").val() != $("#nhaplai").val()) {
        $("#loi_nhaplai").text("Mật khẩu nhập lại không đúng!");
    }
    else {
        var model = {};
        model.matkhaucu = $("#matkhaucu").val();
        model.matkhau = $("#matkhau").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("doimk", "nguoidung")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#thongbao").text(data.message);
                const toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
            },
            error: function () {
                alert("Loi");
            }
        });
    }
});
</script>