@{
    ViewBag.Title = "Tài khoản bị khóa!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #block {
        background-image: url("/Content/images/bg-wibu.jpg");
        height: 100vh;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    }
    .title, .content{
        width: 100%;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
    }
</style>
<section id="block" class="">
    <div class="container mt-5 pt-5 text-white w-100">
        <div class="row">
            <div class="col-12">
                <h1 class="p-3 border-bottom text-center mb-5 title" style="background-color: #dc354575;">Tài khoản bị khóa!</h1>
                <div class="content w-100 text-center">
                    <h2 class="">@ViewBag.BlockContent</h2>
                </div>
            </div>
        </div>
    </div>
</section>