@model accgame.Context.GoiNap

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/quantri/Views/Shared/_Layout.cshtml";
}

<main class="content">
    <h3>Bạn muốn xóa gói này??</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.TenGoi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gia)
            </dt>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary mt-3" /> |
                @Html.ActionLink("Trở về", "Index")
            </div>
        }
    </div>
</main>

