
@{
    ViewBag.Title = "Chính sách bảo hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="about" class="about">
    <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-center mh-100">
            <div class="w-100" style="">
                <form action="/dangnhap" method="post" class="text-center form-dangky shadow-lg p-2 p-sm-4 rounded-1">
                    <div class="border-dangky">
                        <div class="pb-3">
                            <h2 class="text-center text-uppercase d-block pt-5 pb-2 fw-bold" style="color: #726550">
                                Bảo hành
                            </h2>
                            <img class="img-fluid" src="~/Content/assets/img/AuthDevider.png" />
                        </div>
                        <a href="https://i.imgur.com/oQDOdQ5.png" class="gallery-lightbox" data-gall="gallery-item"><img src="~/Content/images/bao_hanh.png" class="img-fluid" /></a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
